NEO4J_URI = "YOUR_NEO4J_URL"
NEO4J_DATABASE = "YOUR_NEO4J_DATABASE"
NEO4J_USER = "YOUR_NEO4J_USER"
NEO4J_PASSWORD = "YOUR_NEO4J_PASSWORD"

HUGGINGFACE_TOKEN = "YOUR_HUGGINGFACE_TOKEN"
HUGGINGFACE_ENDPOINT = "YOUR_HUGGINGFACE_ENPOINT" #or the default https://huggingface.co
HUGGINGFACE_REPO = "YOUR_HUGGINGFACE_REPO" #e.g. username/repo-name
HUGGINGFACE_MODEL = "YOUR_HUGGINGFACE_MODEL_PATH" #e.g. models/supervised_hetero.pt

JWT_SECRET_KEY = "YOUR_JWT_SECRET_KEY"
JWT_ALGORITHM  = "JWT_ALGORITHM" #"HS256" recommended

AIRFLOW_SUB = "YOUR_SUB_NAME"
AIRFLOW_SERVICE = "YOUR_SERVICE_NAME"
