# Ignore envs
.venv

# Ignore data folders
**/data_mapper/
!.gitkeep
src/classifier/data_mapper/
!.gitkeep

# Python cache
*.pyc
.ipynb_checkpoints/
*.egg-info/

# IDE settings
.vscode/
.idea/

# OSX-specific
.DS_Store
.env
