# Ignore envs
.venv

# Ignore data folders
open-pulse-graph-classifier/data/*
!.gitkeep

# Python cache
*.pyc
.ipynb_checkpoints/
*.egg-info/

# IDE settings
.vscode/
.idea/

# OSX-specific
.DS_Store
.env
